* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* body {
    font-family: "Open Sans", sans-serif;
    padding: 20px 0;
}
.clearfix {
    clear: both;
} */

.headline {
  padding-bottom: 2em;
  padding-top: 2em;
  text-align: center;
}
.main-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.gb {
  padding-top: 2.5%;
}

.sub-container {
  padding: 5rem 5vw 5rem;
  background-color: rgba(242, 112, 89, 1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 75%;
  align-items: center;
  /*line-height: 100px;*/
}

.opponents {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.hand-img {
  width: 25%;
  transition: all 250ms;
  transition-timing-function: cubic-bezier(
    0.95,
    -0.28,
    0.75,
    0.13
  ); /*0, 1.51, 1, 1*/
  position: absolute;
  top: 200px;
  left: 260px;
}

.trump {
  padding-bottom: 4rem;
}

.VS {
  padding-bottom: 4rem;
}

.img-div {
  cursor: pointer;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-board {
  background-image: url(./938635868-612x612.jpg);
  position: relative;
  width: 700px;
  height: 513px;
  background-size: cover;
  background-repeat: no-repeat;
}

.links-credits {
  display: none;
}
