* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: black;
}

.clearfix {
    clear: both;
} 

h1{
  text-align:center;
}

.headline {
  padding-bottom: 2em;
  padding-top: 2em;
  text-align: center;
}
.main-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.gb {
  padding-top: 2%; 
}

.sub-container {
  padding: 2.5rem 5vw 1rem; 
  background-color:#1d435d;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  height: 30em;
  align-items: center;
  border: solid #a52a2a 5px;
}

.opponents {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.hand-img {
  width: 25%;
  transition: all 250ms;
  transition-timing-function: cubic-bezier(
    0.95,
    -0.28,
    0.75,
    0.13
  ); 
  position: absolute;
  top: 200px;
  left: 260px;
}

.trump {
  padding-bottom: 2rem;
  width: 27%;
}

.VS {
  padding-bottom: 3rem;
}

h2{
  font-weight: 900;
}

.img-div {
  cursor: pointer;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-board {
  background-image: url(../img/fight-ring.jpg);
  position: relative;
  width: 700px;
  height: 513px;
  background-size: cover;
  background-repeat: no-repeat;
  border: #ac2d2d dotted;
  border-radius: 5px;
}

.links-credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0.3em;
}

.awkward-gifs{
  display: none;
  position: absolute;
  top: 5.5em;
}

.us-win{
  width: 13em;
  margin: 1%;
}

button{
    display: -webkit-box;
    background-color: white;
    color: black;
    border: 2px solid #39A1D6;
    transition-duration: 0.4s;
    padding: 0.5em;
    margin: 0.2em;
    border-radius:5px;
}

button:hover {
  background-color: #39A1D6;
  color: white;
}

.right-container{
  width: 250px;
  height: 250px;
}

.left-container{
  width: 250px;
  height: 250px;
}

.round{
  border-radius: 200px;
  width: 80%;
  margin-left: 1em;
  margin-right: 1em;
}

.animated-container{
  opacity: 1;
  transition: opacity 1s ease-in;
}

.level-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0.3em;
  background-color: brown;
  width: 18em;
  height: 8em;
  position: absolute;
  left: 13em;
  top: 12.5em;
  border-radius: 25px;
}